@page
@model VisitorRegistration.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Confirmation</h1>


<h3>Bedankt voor te registeren, ga rustig zitten tot iemand u komt halen.</h3>


<a class="nav-link text-dark" asp-area="" asp-page="/Welcome/Welcome"><button class="btn btn-primary">Terug naar het startscherm</button></a>

